<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            {% if site.data.t[page.lang].site.title %}
                {{ site.data.t[page.lang].site.title }}
            {% else %}
                {{ site.title }}
            {% endif %}
        </a>

        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav m-auto">
                {% if site.data.t[page.lang].site.navigation %}
                    {% assign navigation = site.data.t[page.lang].site.navigation %}
                {% elsif site.navigation %}
                    {% assign navigation = site.navigation %}
                {% endif %}

                {% if navigation %}
                    {% for link in navigation %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for page in site.pages %}
                        {% if page.title %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
            <form action="{% if site.google.cse_id %}{% assign search_result_page = site.pages | where: 'layout', 'search' | where: 'lang', page.lang | first %}{{ search_result_page.url }}{% else %}https://www.google.com/search{% endif %}" class="form-inline" id="search-form" method="get" role="search">
                {% if site.google.cse_id %}
                {% else %}
                    <input type="hidden" name="as_sitesearch" value="{{ site.baseurl | prepend: site.url }}" />
                    <input type="hidden" name="ie" value="{{ site.encoding }}" />
                    <input type="hidden" name="oe" value="{{ site.encoding }}" />
                    {% if site.lang or page.lang %}
                        <input type="hidden" name="hl" value="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" />
                        <input type="hidden" name="image_lr" value="lang_{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" />
                        <input type="hidden" name="lr" value="lang_{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}" />
                    {% endif %}
                {% endif %}
                <div class="input-group">
                    <input class="form-control" id="search-field" name="q" placeholder="{% if site.data.t[page.lang].search %}{{ site.data.t[page.lang].search }}{% else %}{{ 'Search' }}{% endif %}" type="text" aria-label="{% if site.data.t[page.lang].search %}{{ site.data.t[page.lang].search }}{% else %}{{ 'Search' }}{% endif %}">
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-number" id="search-button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="language-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{% if site.data.t[page.lang].translations %}{{ site.data.t[page.lang].translations }}{% else %}{{ 'Translations' }}{% endif %}" href="#" role="button"><i class="fas fa-globe-americas" aria-hidden="true"></i></span></a>
                    <div class="dropdown-menu" aria-labelledby="language-button">
                        {% if page.is_post %}
                            {% assign translations = site.posts | where: 'nickname', page.nickname %}
                        {% else %}
                            {% assign translations = site.pages | where: 'nickname', page.nickname %}
                        {% endif %}
                        {% for lang in site.data.t %}
                            <h6 class="dropdown-header">{{ lang[1].language }}</h6>
                            {% assign translation = translations | where: 'lang', lang[1].language_tag | first %}
                            {% if translation %}
                                <a class="dropdown-item translation-{{ lang[1].language_tag }}" href="{{ translation.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">{{ lang[1].translation }}</a>
                            {% else %}
                                <a class="dropdown-item" href="http://translate.google.com/translate?js=n&sl={{ page.lang }}&tl={{ lang[1].language_tag }}&u={{ page.url | replace:'index.html', '' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">{{ lang[1].translation }}</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ '/' | prepend: lang[1].language_tag | prepend: '/' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">{{ lang[1].home_page }}</a>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                        <h6 class="dropdown-header">Other languages (by Google Translate)</h6>
                        <a class="dropdown-item" href="http://translate.google.com/translate?js=n&sl={{ page.lang }}&u={{ page.url | replace:'index.html', '' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">Translate this page</a>
                    </div>
                </div><!--.dropdown-->
            </form>
        </div><!--#navbar-->
    </div><!--.container-->
</nav>
