---
layout: page
---

<div class='no-ads-here'>
    <ul class='list-unstyled'>
        <li class='media mb-5'>
            <img class="mr-3" src="/favicon.png" alt="{{ page.stable_title }}" style='max-width: 64px;'>
            <div class="media-body">
                <h4 class="mt-0 mb-2">
                    <a href="/{{ page.lang }}/download/15.2">
                        {{ page.stable_title }}
                    </a>
                </h4>
                <p>{{ page.stable_desc }}</p>
                <a class="btn btn-primary float-right" href="/{{ page.lang }}/download/15.2">
                    Download ›
                </a>
            </div>
        </li>
        <li class='media'>
            <img class="mr-3" src="/assets/img/15.1-gray.png" alt="{{ page.old_151_title }}" style='max-width: 64px;'>
            <div class="media-body">
                <h4 class="mt-0 mb-2">
                    <a href="/{{ page.lang }}/download/15.1">
                        {{ page.old_151_title }}
                    </a>
                </h4>
                <p>{{ page.old_151_desc | markdownify }}</p>
                <a class="btn btn-primary float-right" href="/{{ page.lang }}/download/15.1">
                    Download ›
                </a>
            </div>
        </li>
    </ul>
</div>
